@import "styles/variables.scss";

.portfolio {

  margin-top: 7rem;
  margin-bottom: 2rem;
  width: 1000px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid $black;

  &-container {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      #skill {
        height: 100px;
        width: auto;
        max-width: 50%;
        margin-bottom: 0.5rem;

        &-r {
          border-radius: 100%;
          height: 100px;
          width: auto;
          margin-bottom: 0.75rem;
        }

        &-e {
          height: 80px;
          width: 90%;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &--radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 97.5%;

    &-container {
      width: 100%;
      background: $white;
      border: 4px solid $black;
      border-radius: 0.5rem;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      flex-wrap: wrap;
      flex-grow: 2;
    }
  }

  &-stats {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-project {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    #logo {
      height: 125px;
      width: 400px;
      margin: 0.5rem;
      border-radius: 0.5rem;

      &-t {
        height: 100px;
        width: 300px;
        margin: 0.5rem;
        border-radius: 0.5rem;
      }

      &-s {
        height: 125px;
        width: 350px;
        margin: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  #csage {
    height: 600px;
    width: 800px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid $white;
  }

  #devtips {
    height: 475px;
    width: 800px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid $white;
  }

  #sched {
    height: 475px;
    width: 800px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.25px solid $black;
  }

  #tweets {
    height: 500px;
    width: 800px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid $white;

  }

  #tiny {
    height: 500px;
    width: 800px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.25px solid $black;
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;

    a {
      display: flex;
      align-items: center;

      svg {
        margin-right: 1.5rem;
      }

      &:hover {
        cursor: pointer;
        color: $color-lighter;
        transition: all 0.5s $ease;
      }
    }

    p {
      width: 100%;
      text-align: justify;
      font-size: 0.9rem;
      line-height: 2;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 2px solid $black;
    }
  }

  &-links {
    width: 97.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 3px solid $black;
    padding: 0.5rem;
    margin: 0.5rem;

    .hide-icon {
      visibility: hidden;
      margin-right: 0.75rem;
    }

    span {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 0.5rem;
    
      &:hover {
        cursor: pointer;
        transition: all 0.5s $ease;
        background-color: $color-lightest;

        .hide-icon {
          visibility: visible;
          transition: all 0.5s $ease;
        }
      }
    }
  }

  &-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    svg:hover {
      cursor: pointer;
      color: $color-lightest;
      transition: all 0.5s $ease;
    }
    
    svg:focus {
      outline: none;
      text-decoration: none;
    }
  }

  .skills {
    display: flex;
    text-align: justify;
    line-height: 2;
  }

  &--radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-color: transparent;
    border-radius: 0.5rem;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0.5rem;
    text-align: center;
    transition: .2s all ease-in-out;
    min-width: 150px;
    width: auto;
    white-space: nowrap;
  }

  &--radio-container input {
    display: none;
  }

  &--radio-container input:checked + label {
    background: $color-lightest;
    border: 1px solid transparent;
  }

  .img:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-width: 85vw;

    &-tools {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 70%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        width: 90%;
        font-size: 0.8rem;
      }
    }

    &-links {
      display: flex;
      flex-wrap: wrap;
      width: 70%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        width: 90%;
        font-size: 0.8rem;
      }
    }

    &-skills {
      display: flex;
      justify-content: space-around;
  
      span {
        width: 40%;
        font-size: 0.8rem;

        #skill {
          height: 100px;
          width: auto;
          max-width: 110%;
          margin-bottom: 0.5rem;
  
          &-r {
            border-radius: 100%;
            height: 100px;
            width: auto;
            margin-bottom: 0.75rem;
          }
  
          &-e {
            height: 50px;
            width: 120%;
            margin-bottom: 1rem;
          }
        }
      }
    }

    &-details {
      width: 90vw;
  
      a svg {
        margin-right: 0.5rem;
        height: 50px;
        width: 50px;
      }

      #logo {
        height: auto;
        width: 50vw;
    
        &-t {
          height: 70px;
          width: 45vw;
        }
    
        &-s {
          height: 75px;
          width: 45vw;
        }
      }
    }

    &-stats {
      display: flex;
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }

    &-project {
      width: 100%;
    }

    #csage {
      height: auto;
      min-height: 275px;
      width: 95vw;
    }

    #devtips {
      height: auto;
      min-height: 250px;
      width: 95vw;
    }

    #sched {
      height: auto;
      min-height: 250px;
      width: 95vw;
    }

    #tweets {
      height: auto;
      min-height: 250px;
      width: 95vw;
    }

    #tiny {
      height: auto;
      min-height: 250px;
      width: 95vw;
    }

    &-details p {
      width: 75vw;
    }

    &--radio-container label {
      min-width: 90%;
      white-space: nowrap;
    }

    &-buttons {
      svg {
        height: 35px;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .portfolio {
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-width: 85vw;
    font-size: 0.8rem;

    &-tools {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 70%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        width: 90%;
        font-size: 0.8rem;
      }
    }

    &-links {
      display: flex;
      flex-wrap: wrap;
      width: 70%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        width: 90%;
        font-size: 0.8rem;
      }
    }

    &-skills {
      display: flex;
      justify-content: space-around;
  
      span {
        width: 40%;
        font-size: 0.8rem;

        #skill {
          height: 100px;
          width: auto;
          max-width: 110%;
          margin-bottom: 0.5rem;
  
          &-r {
            border-radius: 100%;
            height: 100px;
            width: auto;
            margin-bottom: 0.75rem;
          }
  
          &-e {
            height: 50px;
            width: 120%;
            margin-bottom: 1rem;
          }
        }
      }
    }

    &-details {
      width: 90vw;
  
      a svg {
        margin-right: 0.5rem;
        height: 50px;
        width: 50px;
      }
    }

    #logo {
      height: auto;
      max-height: 90px;
      width: auto;
      max-width: 200px;

      &-t {
        height: auto;
        max-height: 100px;
        width: auto;
        max-width: 175px;
      }

      &-s {
        height: auto;
        max-height: 110px;
        width: auto;
        max-width: 175px;
      }
    }

    &-stats {
      display: flex;
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }

    &-project {
      width: 100%;

      p {
        font-size: 0.8rem;
      }
    }

    #csage {
      height: auto;
      min-height: 300px;
      width: 85vw;
    }

    #devtips {
      height: auto;
      min-height: 250px;
      width: 85vw;
    }

    #sched {
      height: auto;
      min-height: 250px;
      width: 85vw;
    }

    #tweets {
      height: auto;
      min-height: 250px;
      width: 85vw;
    }

    #tiny {
      height: auto;
      min-height: 250px;
      width: 85vw;
    }

    &-details p {
      width: 75vw;
    }

    &--radio-container label {
      min-width: 90%;
      white-space: nowrap;
    }

    &-buttons {
      svg {
        height: 35px;
      }
    }
  }
}