@import "styles/variables.scss";

.portfolio {

  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 900px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid $black;

  &-container {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  &-project {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    #logo {
      height: 125px;
      width: 400px;
      margin: 0.5rem;
      border-radius: 0.5rem;

      &-t {
        height: 100px;
        width: 300px;
        margin: 0.5rem;
        border-radius: 0.5rem;
      }

      &-s {
        height: 125px;
        width: 350px;
        margin: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    #csage {
      height: 600px;
      width: 800px;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 0.5px solid $white;
    }

    #devtips {
      height: 475px;
      width: 800px;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 0.5px solid $white;
    }

    #sched {
      height: 475px;
      width: 800px;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 0.25px solid $black;
    }

    #tweets {
      height: 500px;
      width: 800px;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 0.5px solid $white;

    }

    #tiny {
      height: 500px;
      width: 800px;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 0.25px solid $black;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;

    p {
      width: 100%;
      text-align: justify;
      font-size: 0.9rem;
      line-height: 1.5;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 2px solid $black;
    }
  }

  &-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  
    svg:hover {
      cursor: pointer;
      color: $color-light;
    }

    svg:focus {
      outline: none;
      text-decoration: none;
    }
  }
}