$color-dark: #171820;
$color-med: #bcb6ae;
$color-light: #aa3d01;
$color-lighter: #df861d;
$color-lightest: #fdc029;

$white: #FFF;
$black: #000;

$main-font: 'Press Start 2P', cursive;
$sec-font: 'Nunito', sans-serif;

$ease: cubic-bezier(.2,1,.3,1);