$color-dark: #171820;
$color-med: #bcb6ae;
$color-light: #aa3d01;
$color-lighter: #df861d;
$color-lightest: #fdc029;

$white: #FFF;
$black: #000;

$main-font: 'Noto Sans', sans-serif;
$secondary-font: 'Noto Serif', serif;