@import "styles/variables.scss";

.about {

  margin-top: 12rem;
  height: 400px;
  width: 800px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;

  &-container {
    width: 95%;
    height: 95%;
    border: 1px solid $black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    img {
      height: 200px;
      width: 200px;
      border-radius: 75%;
    }
  }
}