@import "styles/variables.scss";

.about {

  margin-top: 8rem;
  margin-bottom: 5rem;
  height: 450px;
  width: 850px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
  border: 2px solid $black;

  &-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 1.5;
    
    img {
      height: 150px;
      width: 150px;
      border-radius: 100%;
      margin-top: 0.5rem;
      margin-left: 1rem;
      object-fit: cover;
    }

    p {
      width: 775px;
      text-align: justify;
    }
  }

  &-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  
    svg:hover {
      cursor: pointer;
      color: $color-light;
    }

    svg:focus {
      outline: none;
      text-decoration: none;
    }
  }
}