@import "styles/variables.scss";

.home {

  margin-top: 12rem;
  height: 400px;
  width: 600px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;

  &-container {
    width: 95%;
    height: 95%;
    border: 1px solid $black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      height: 120px;
      width: auto;

      &:hover {
        cursor: url("./cursor.cur"), auto;
      }
    }
  }
}