@import "styles/variables.scss";

.menu-level {
  display: flex;
  color: $white;

  &__top {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
  

    > li {
      position: relative;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:hover > ul {
      display: inline;
    }
  }

  &__second {
    position: absolute;
    top: 2.75rem;
    right: -1.75rem;
    padding: 0.5rem;
    display: none;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    list-style: none;
    text-decoration: none;
    background-color: $color-dark;

    > li, a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 2rem;
      padding: 0.5rem;

      &:hover {
        color: $color-light;
      }
    }
  }

  a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: $white;
  }
}