@import "styles/variables.scss";

.menu {
  background: $color-dark;
  border-radius: 8px;
  position: absolute;
  top: 4.25rem;
  right: 1rem;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

  &-container {
    position: relative;
  
    .menu-trigger {
      margin-right: 2rem;
      background: $color-dark;
      color: $white;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li a {
    text-decoration: none;
    color: $white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    svg {
      visibility: hidden;
      margin-left: 1rem;
    }

    &:hover svg {
      visibility: visible;
      color: $color-lightest
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 150px;

    li a {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      padding-right: 0.25rem;
    }

    svg {
      display: none;
    }
  }
}