@import "styles/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  max-height: 75px;
  min-width: 100vw;
  margin-bottom: 1rem;
  padding: 0;
  color: $white;
  background-color: $color-dark;
  box-shadow: 0px 4px 8px $black;

  &__aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4rem;

  }

  &__title {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  &__pic {
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}