@import "styles/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-height: 75px;
  min-width: 100vw;
  margin-bottom: 1rem;
  padding: 0;
  color: $white;
  background-color: $color-dark;
  box-shadow: 0px 4px 8px $black;

  &__aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__title {
    padding-left: 0.25rem;
    padding-right: 1rem;
    min-width: 250px;

    &-b {
      display: none;
    }

    &-h {
      display: none;
    }
  }

  &__pic {
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    max-width: 100%;

    &__aside .navbar__title {
      display: none;
    }

    &__aside .navbar__title-b {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    max-width: 100%;

    &__aside {
      margin-left: 1rem;

      .text {
        display: none;
      }
    }

    &__title {
      display: none;

      &-b {
        display: flex;
      }
    }
  }
}