@import "styles/variables.scss";

#root {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  min-height: 100vh;
  position: relative;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
}

button:focus {
  outline: none;
  border: 1px solid $color-dark;
  box-shadow: 0 0 10px $color-med;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0;
  color: $white;
  background-color: $color-dark;

  p {
    margin-right: 2rem;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #root {
    max-width: 100%;
  }
}